<section class="bussinesscard first">
  <div class="flip">
    <div class="front">

      <div class="top">
        <div class="logo">
          <span class="fat">GT</span>
        </div>
      </div>

      <div class="nametroduction">
        <div class="name">Geir Tønnessen</div>
        <div class="introduction">Webutvikler</div>
      </div>

      <div class="contact">

        <div>
          <span class="ion-paper-airplane"></span>
          <a href="mailto:geir@geirogmarita.net">
            geir@geirogmarita.net</a>
        </div>

        <div>
          <span class="ion-earth"></span>
          <a href="#">GeirOgMarita.net</a>
        </div>

        <div>
          <span class="ion-social-linkedin"></span>
          <a href="http://no.linkedin.com/in/GeirTonnessen" target="_blank">
            @GeirTonnessen</a>
        </div>

        <div>
          <span class="ion-social-github"></span>
          <a href="https://github.com/GeirT" target="_blank">
            @GeirT</a>
        </div>

        <div>
          <span class="ion-social-instagram"></span>
          <a href="https://instagram.com/g_e_i_r_t/" target="_blank">
            @g_e_i_r_t</a>
        </div>

      </div>

    </div>

    <div class="back"></div> <!--FIXES FONT RENDERING -->
  </div>
</section>
