<section class="bussinesscard">
  <div class="flip">
    <div class="front">
      <div class="top">
        <div class="logo">
          <span class="fat">G</span>
          <span class="skinny">T</span>
        </div>
      </div>
      <div class="nametroduction">
        <div class="name">Geir Tønnessen</div>
        <div class="introduction">Webutvikler</div>
      </div>
      <div class="contact">
        <div class="website">
          <span class="ion-earth"></span>
          <a href="#" target="_blank">GeirOgMarita.net</a>
        </div>
        <div class="twitter">
          <span class="ion-social-twitter"></span>
          <a href="https://twitter.com/geirbert" target="_blank">@geirbert</a>
        </div>
        <div class="phone">
          <span class="ion-ios7-telephone"></span>
          <a href="tel:+47 936 90668">+47 936 90668</a>
        </div>
        <div class="email ">
          <span class="ion-paper-airplane"></span>
          <a href="mailto:geir.tonnessen@gmail.com">
            geir.tonnessen@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="back"></div> <!--FIXES FONT RENDERING -->
  </div>
</section>
